/*****************************************************
 * node_modules imports
 *****************************************************/
 @import 'node_modules/bootstrap/scss/bootstrap.scss';

 /*****************************************************
  * project imports
  *****************************************************/
 @import 'variables';
 @import 'mixins';
 
 /*****************************************************
  * styles
  *****************************************************/
 html, body, app-root, app-game {
   overflow: hidden;
   width   : 100%;
   height  : 100%;
   margin  : 0;
   padding : 0;
 }
 
 body {
   background-color: $mainBgColor;
   color: $mainTextColor;
 }
 
 .engine-wrapper{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 0;
 
   #renderCanvas {
     width   : 100%;
     height  : 100%;
     touch-action: none;
   }
 
   #renderCanvas:focus {
     outline: none;
   }
 }
 
 .ui-wrapper {
   position: absolute;
 
   * {
     z-index: 10;
   }
 }
 